.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
}

form{
    width: 50%;
    margin: 0 auto;
}
.check-group{
  text-align: center;
  margin: 0 auto;
}

.data-cell{
  height: 50px;
  overflow: hidden;
  /*white-space: nowrap; */
}
.data-cell:hover{
  overflow: visible;
  height: auto;
}
.text-back{
  background-color: transparent;
}
.text-back:hover{
  background-color: #FFFFFF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.head-img{
  background-color: #004B8E;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.head-img>.glyphicon{
  font-size: 6em;
  padding: 60px 0px 0px 60px;
  color: #FFF;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

}
.marketing h3{
  text-align: center;
}
.marketing p + h4 {
  margin-top: 28px;
}

