

  <div class="row marketing">
      <div class="col-md-4">
        <div>
          <img src="http://placehold.it/200x100/dda037.png&text=..." alt="responsive image" class="img-responsive">
        </div>
        <div>
          <h3>Some appropriate copy</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://placehold.it/200x100/dda037.png&text=..." alt="responsive image" class="img-responsive">
        </div>
        <div>
          <h3>Some appropriate copy</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://placehold.it/200x100/dda037.png&text=..." alt="responsive image" class="img-responsive">
        </div>
        <div>
          <h3>Some appropriate copy</h3>
        </div>
      </div>
  </div>



  <div class="row marketing" ng-controller="MainCtrl">
      <table class="table" >
        <caption>table title and/or explanatory text</caption>
        <thead>
          <tr>
            <th ng-repeat="col in tableTitles">{{col}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="col in tableData">
            <td >{{col.animals}}</td>
            <td >{{col.number}}</td>
          </tr >

        </tbody>
      </table>
    
  </div>
