 
<div ng-controller="MainCtrl">
  <div class="row marketing">
      <div class="col-md-4">
        <div class="head-img">
          <span class="glyphicon glyphicon-search"></span>
        </div>
        <div>
          <h3>Search</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="head-img">
          <span class="glyphicon glyphicon-education"></span>
        </div>
        <div>
          <h3>Learn</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="head-img">
           <span class="glyphicon glyphicon-pencil"></span>
        </div>
        <div>
          <h3>Apply</h3>
        </div>
      </div>
  </div>

  <form >
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

        <input type="text" class="form-control" placeholder="Search Keywords" ng-model="searchIncentives.$">

      </div>
    </div>
  </form>


<div class="row marketing">
  <div class="form-group col-md-4">
    <div class="check-group">
   <h4>Incentive Type</h4>
    <label class="checkbox-inline">
       <input type="checkbox" ng-true-value="'renewables'" ng-false-value="''" ng-model="searchIncentives.incentiveType">  Renewables
    </label>
    <label class="checkbox-inline">
       <input type="checkbox" ng-true-value="'efficiency'" ng-false-value="''" ng-model="searchIncentives.incentiveType"> Efficiency
    </label>
    </div>
  </div>
  <div class="form-group col-md-4">
    <div class="check-group">
    <h4>Incentive Program</h4>
    <label class="checkbox-inline">
       <input type="checkbox" ng-true-value="'residential'" ng-false-value="''" ng-model="searchIncentives.incentiveProgram" > Residential
    </label>
    <label class="checkbox-inline" >
       <input type="checkbox"  ng-true-value="'agriculture'" ng-false-value="''" ng-model="searchIncentives.incentiveProgram"> Agriculture
    </label>
    <label class="checkbox-inline">
       <input type="checkbox"  ng-true-value="'commercial'" ng-false-value="''" ng-model="searchIncentives.incentiveProgram"> Commercial
    </label>
    <label class="checkbox-inline">
       <input type="checkbox"  ng-true-value="'financing'" ng-false-value="''" ng-model="searchIncentives.incentiveProgram"> Financing and Services
    </label>
    </div>
  </div> 
  <div class="form-group col-md-4">
    <div class="check-group">
    <h4>Category</h4>
    <label class="checkbox-inline">
       <input type="checkbox"  ng-true-value="'appliances'" ng-false-value="''" ng-model="searchIncentives.incentiveCategory"> Appliances 
    </label>
    <label class="checkbox-inline">
       <input type="checkbox" ng-true-value="'construction'" ng-false-value="''" ng-model="searchIncentives.incentiveCategory"> Construction
    </label>
    <label class="checkbox-inline">
       <input type="checkbox"  ng-true-value="'electricity'" ng-false-value="''" ng-model="searchIncentives.incentiveCategory"> Electricity
    </label>
    <label class="checkbox-inline">
       <input type="checkbox" ng-true-value="'retrofit'" ng-false-value="''" ng-model="searchIncentives.incentiveCategory" > Retrofit
    </label>
    <label class="checkbox-inline">
       <input type="checkbox" ng-true-value="'loans'" ng-false-value="''" ng-model="searchIncentives.incentiveCategory" > Loans and Grants
    </label>
    </div>
  </div>
</div>


  <div class="row marketing" >
      <table class="table" >
        <caption>table title and/or explanatory text</caption>
        <thead>
          <tr>

             <th>
                <a href="" ng-click="sortType = 'incentiveType'; sortReverse = !sortReverse">
                  Type
                  <span ng-show="sortType == 'incentiveType' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                  <span ng-show="sortType == 'incentiveType' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
             </th>
             <th>
                <a href="" ng-click="sortType = 'incentiveProgram'; sortReverse = !sortReverse">
                   Program
                <span ng-show="sortType == 'incentiveProgram' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'incentiveProgram' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
                <a href="" ng-click="sortType = 'incentiveCategory'; sortReverse = !sortReverse">
                   Category
                <span ng-show="sortType == 'incentiveCategory' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'incentiveCategory' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
                <a href="" ng-click="sortType = 'keyword'; sortReverse = !sortReverse">
             Keyword
                <span ng-show="sortType == 'keyword' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'keyword' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
                <a href="" ng-click="sortType = 'incentiveCategory'; sortReverse = !sortReverse">
             Fuel Source
                <span ng-show="sortType == 'incentiveCategory' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'incentiveCategory' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
                <a href="" ng-click="sortType = 'fuelSource'; sortReverse = !sortReverse">
             Participating Utility
                <span ng-show="sortType == 'fuelSource' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'fuelSource' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
                <a href="" ng-click="sortType = 'participatingUtility'; sortReverse = !sortReverse">
             Amount
                <span ng-show="sortType == 'participatingUtility' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'participatingUtility' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
                <a href="" ng-click="sortType = 'amount'; sortReverse = !sortReverse">
             Contact
                <span ng-show="sortType == 'amount' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'amount' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>
             <th>
                <a href="" ng-click="sortType = 'phoneEmail'; sortReverse = !sortReverse">
             Phone/Email
                <span ng-show="sortType == 'phoneEmail' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'phoneEmail' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
             </th>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="col in tableData | orderBy:sortType:sortReverse | filter:searchIncentives">
           
            <td ><div class="data-cell">{{col.incentiveType}}</div></td>
            <td ><div class="data-cell">{{col.incentiveProgram}}</div></td>
            <td><div class="data-cell">{{col.incentiveCategory}}</div></td>
            <td><div class="data-cell">{{col.keyword}}</div></td>
            <td><div class="data-cell">{{col.fuelSource}}</div></td>
            <!--
            <td>{{col.incentiveDetail}}</td>
            <td>{{col.eligibility}}</td>
            -->
            <td><div class="data-cell"><span class="text-back">{{col.participatingUtility}}</span></div></td>
            <td><div class="data-cell">{{col.amount}}</div></td>
            <td><div class="data-cell"><a href="{{col.contact}}">Apply</a></div></td>
            <td><div class="data-cell">{{col.phoneEmail}}</div></td>
            
          </tr >

        </tbody>
      </table>
    
  </div>
</div>